* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  background-color: #01D277;
}

body {
  scroll-behavior: smooth;
  position: relative;
  font-size: 1rem;
  font-family: 'Raleway';
  list-style: none;
}

b, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

small {
  font-size: 0.75em;
}

code {
  font-weight: normal;
  font-family: 'Maison Mono', monospace;
}

*[hidden] {
  display: none !important;
}
