* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  position: relative;
  font-size: 1rem;
  font-family: 'Raleway';
  list-style: none;
}

b, strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

*[hidden] {
  display: none !important;
}
